<div class="krz-page container">
  <div class="dashboard-main-content col-md-12">
    <div class="row">
      <h1 class="main-title text-center">{{pageTitle}}</h1>
    </div>
    <div class="row krz-summary-row">
        <div class="text-center">
            <button class="btn btn-large btn-primary" (click)="detailsShown = !detailsShown">Toggle Charts</button>
        </div>
    </div>
    <div class="row" *ngIf="!detailsShown">
      <div *ngFor="let country of countries" class="col-md-4">
        <krz-brand-dashboard-card [data]="country" (click)="openFromCard($event, country)"></krz-brand-dashboard-card>
      </div>
    </div>
    <div class="row krz-summary-row" *ngIf="detailsShown">
      <select [ngModel]="selectedChart" (change)="changeChartType($event.target.value)">
        <option *ngFor="let chart of chartTypes" value="{{chart.value}}">{{chart.name}}</option>
      </select>
    </div>
    <div class="row krz-details-page" *ngIf="detailsShown">
      <ngx-charts-pie-chart
        *ngIf="selectedChart === 'pie'"
        [results]="details.single"
        [legend]="true"
        [explodeSlices]="false"
        [labels]="true"
        (select)="openFromChart($event)">
      </ngx-charts-pie-chart>
      <ngx-charts-advanced-pie-chart
        *ngIf="selectedChart === 'pie-advanced'"
        [results]="details.single"
        (select)="openFromChart($event)">
      </ngx-charts-advanced-pie-chart>
      <ngx-charts-bar-horizontal
        *ngIf="selectedChart === 'bar-horizontal'"
        [results]="details.single"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendTitle]="'Legend'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [tooltipDisabled]="false"
        [xAxisLabel]="'Products Sold'"
        [yAxisLabel]="'Country'"
        [showGridLines]="true"
        [barPadding]="4"
        [roundDomains]="false"
        [roundEdges]="true"
        (select)="openFromChart($event)">
      </ngx-charts-bar-horizontal>
      <ngx-charts-bar-vertical
        *ngIf="selectedChart === 'bar-vertical'"
        [results]="details.single"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [legendTitle]="'Legend'"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [tooltipDisabled]="false"
        [xAxisLabel]="'Country'"
        [yAxisLabel]="'Products Sold'"
        [showGridLines]="true"
        [barPadding]="4"
        [roundDomains]="false"
        [roundEdges]="true"
        (select)="openFromChart($event)">
      </ngx-charts-bar-vertical>
      <ngx-charts-pie-grid
        *ngIf="selectedChart === 'pie-grid'"
        [results]="details.single"
        (select)="openFromChart($event)">
      </ngx-charts-pie-grid>
    </div>
  </div>
</div>